.preloader-wrapper{
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;

}
.ring_small {
  width: 0.7rem;
  height: 0.7rem;
  display: grid;
  place-content: center;
}
.ring_small:after {
  content: " ";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 8px;
  border-radius: 50%;
  border: 2px solid #3974ec;
  border-color: #3974ec transparent #3974ec transparent;
  animation: ring_anim 2.2s linear infinite;
}
@keyframes ring_anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
