$color-primary-extra-dark: #2D3440;
$color-primary-dark: #565C66;
//$background-color: $color-white;
$color-primary-normal: #B9B9B9;
$color-primary-light: #E7E7E7;
$color-primary-extra-light: #FCFCFC;
$color-primary-white: #FFFFFF;

$color-secondary-extra-bright: #FF2F64;
$color-secondary-bright: #FF4A78;
$color-secondary-normal: #FF7799;
$color-secondary-light: #FEAFC3;
$color-secondary-extra-light: #FFCBD8;
$color-secondary-blue: #69A9FF;
$color-secondary-yellow: #FCC850;

$color-error: #ea5454;
$color-warning: #fd912e;
$color-success: #00e484;
